<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="icon" type="image/png" href="logo.png" />
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% seo %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	    			<li><a href="http://a1rb4Ck.github.io/blog/atom.xml"><img src="/img/rss.png" alt="RSS" height="25" width="25">RSS</a></li>
	        		<li><a href="http://twitter.com/aIrb4Ck"><img src="/img/twt.png" alt="@aIrb4Ck" height="25" width="25">@aIrb4Ck</a></li>
	        		<li><a href="https://github.com/a1rb4Ck">a1rb4Ck's Github</a></li>
			</ul>
			</footer>
		</body>
	</html>
